@model IEnumerable<CP.Data.Models.Depot>

@{
    ViewBag.Title = "Index";
}

<h2>Depot List</h2>

<p>
    @Html.ActionLink("Depot Inventory", "Inventory") |
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepotCountryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepotId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DepotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepotCountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepotId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DepotId }) |
            @Html.ActionLink("Details", "Details", new { id = item.DepotId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DepotId })
        </td>
    </tr>
}

</table>
