@model CP.Data.Models.Site


@{
    ViewBag.Title = "RequestDrugs";
}

<h2>RequestDrugs</h2>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteCountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteCountryCode)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Site</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.SiteId)

            <div class="form-group">
                @Html.LabelFor(model => model.SiteCountryCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SiteCountryCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SiteName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SiteCountryCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SiteCountryCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SiteCountryCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SiteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
